body, div, h1, p {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.content {
    margin: 0 auto;
    width: 60%;
}

h1 {
    font-size: 32px;
    line-height: 100%;
    margin: 32px 0 8px 0;
}
p {
    font-size: 15px;
    line-height: 120%;
    marhin: 8px;
}

.light {
    font-weight: 300;
}

.normal {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}
